@charset "UTF-8";
.main_menu{
	display: flex;
	justify-content: center;
}
.main_menu a{
	padding: 1rem;
	margin: 1rem;
}
/* 메뉴  */
.has_menu{
	position: relative;
}

/* 서브메뉴  */
.sub_menu{
	position: abosolute;
	top: 2rem;
	left: 1rem;
	display: none;
}
.sub

.main_menu a:hover .sub_menu{
	display: block;
}