@charset "UTF-8";
table{
	margin : 0 auto;
	width: 1200px;
	border: solid 1px black;
}
tr{
	border: solid 1px black;
}
th{
	border: solid 1px black;
}
td{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}