@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	background-color: white;
}

#building{
	width: 60%;
	height: 2000px;
	margin: 0 auto;
	border: solid 3px black;
	
}
#elevator_Body{
	width: 40%;
	height: 1995px;
	float: left;
	border: solid 3px black;
}

#building_Body{
	width: 58%;
	height: 1995px;
	float: right;
	border: solid 3px black;
}
#elevator{
	width: 99%;
	height: 20%;
	border: solid 3px black;	
}
#one_floor ,#two_floor ,#three_floor ,#four_floor ,#five_floor{
    width: 19%;
	height: 20%;
	border: solid 3px black;
}